* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 20px;
    background-color:  #0B9586;;
    height: 60px;
    width: 100%;
}

header img{
    width: 100px;
    height: 70%;
}
header nav ul{
    display: flex;
    list-style-type: none;    
    
}
header nav ul li{
    margin: 0 10px;
    text-decoration: none; 
}
nav ul li a {
    text-decoration: none;
    font: Inter, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    
}
nav ul :hover{
    background-color: #0a8778;
    border: 0px 0px 5px 0px solid #000000;
    border-radius: 5px;
}
pre{
    margin-top: 15px;
    color: #ffffff;
}